{% extends 'main.html' %}


{% block content %}


<div class="container">
    <section>
    <h1 class="section-heading">Condition Générale d'Utilisation (CGU)</h1>

    <div class="bloc-contenu">
        <p>

            (1) Offre valable jusqu’au 31/07/2021 inclus, réservée aux nouveaux clients majeurs capables agissant pour des besoins non professionnels résidant en France métropolitaine , pour l’ouverture d’un premier compte de dépôt BNP Paribas en ligne dans le cadre de la souscription aux "Services Essentiels" d’Esprit Libre avec une carte Visa Electron, Classic ou Premier (hors carte Visa Infinite) et sous réserve d’acceptation définitive de votre demande par BNP Paribas, après transmission des pièces justificatives requises et signature électronique des contrats. Vous bénéficiez d’un délai de rétractation de 14 jours. Chacun des produits et services inclus dans Esprit Libre peut être souscrit séparément. . Offre non cumulable avec toute offre commerciale ou de parrainage en cours.
            <br> <br>

        (2) La gratuité s’entend hors options (les Optionnels d’Esprit Libre) et hors intérêts dus en cas d'utilisation de la facilité de caisse automatique, hors frais liés à certaines opérations courantes et hors carte Infinite. Sous réserve de conserver les produits et les services souscrits pendant l’année de gratuité. La cotisation à Esprit Libre dépend de la formule souscrite (Voir détail de la tarification dans le Guide "conditions et tarifs" pour les particuliers disponible en agence ou sur mabanque.bnpparibas - coût de connexion selon opérateur).
            <br><br>

        (3) fourniture d'une carte de débit (carte de paiement internationale à débit immédiat) Visa Premier ou fourniture d'une carte de débit (carte de paiement international à débit différé) Visa Premier ou fourniture d'une carte de débit (carte de paiement internationale à débit immédiat) Visa Classic ou fourniture d'une carte de débit (carte de paiement international à débit différé) Visa Classic ou fourniture d'une carte de débit (carte de paiement à autorisation systématique) Visa Electron.

        </p>

    </div>
    </section>
</div>


{% endblock %}