{% load static %}
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
</head>


<footer>
    <div class="container">
        <div class="box">
            <h3>A propos </h3>
            <p>It was popularised in the 1960 with the release of Latest sheets containing Lorem Ipsum
                passage.</p>
            <button class="btn btn-secondary">Lire Plus</button>
        </div>
        <div class="box">
            <h3>Liens rapides</h3>
            <ul>
                <li>
                    <a href="#">CDCB online</a>
                </li>
                <li>
                    <a href="#">Paiements et virements</a>
                </li>
                <li>
                    <a href="#">Effectuez des opérations</a>
                </li>
                <li>
                    <a href="#">Produits et services</a>
                </li>
                <li>
                    <a href="#">Aides et sécurité</a>
                </li>

            </ul>
        </div>
        <div class="box">
            <h3>Suivez nous</h3>
            <div>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/codersgyan">
                            <img alt="" src="{% static 'icons/facebook.svg' %}">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CoderGyan">
                            <img alt="" src="{% static 'icons/twitter.svg' %}">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="{% static 'icons/google.svg' %}">
                            <span>Google +</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/codersgyan/">
                            <img alt="" src="{% static 'icons/instagram.svg' %}">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box instagram-api">
            <h3>Instagram</h3>
            <div class="post-wrap">
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
                <div>
                    <img alt="" src="{% static 'images/.png' %}">
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div>
        Copyright © 2021 . Tout droit reserver <a href="https://www.instagram.com/codersgyan/">CDCG</a>.
    </div>
</footer>






