{% include 'base/navbar1_login.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
		.email-send-content{
			width: 80%;
			margin-top: auto;
			margin-bottom: auto;
#			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
#			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
#			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
#			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
			border-radius: 5px;
			text-align: center;
			align-items: center;

		}



    </style>

<div class="container"; style="padding: 20px; margin-bottom:50px">
	 <div class=" flex justify-center items-center">

	<div class="email-send-content">
		<img class="logo" src="{%static 'icons/Checkmark-icon-2.png'%}" width="100" style="padding: 20px; margin-bottom:20px">

		<h3>Réinitialisation du mot de passe envoyée</h3>
		<br>
		<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.</p>
		<br>
		<p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.</p>

		<br>
		<a href="{% url 'login' %}" style="display: inline-block"> Retour à la page de connexion</a>
	</div>
</div>
</div>

{% endblock content %}
